<h2 class="text-3xl mb-5">Prodotti interni</h2>
<div class="flex flex-wrap gap-5 text-center">
  @for ( product of products; track $index ) {
    @if ( !product.external ) {
      <div class="w-32 bg-gray-200 hover:bg-gray-100 flex flex-col justify-between">
        <img [src]="product.img" [alt]="product.name">
        <div class="w-full p-2 gap-2 flex flex-col">
          <h2>{{ product.name }}</h2>
          <input class="w-full" name="weight" type="text" id="product.name'-input'" />
          <button type="button" class="bg-green-500 hover:bg-green-400 text-white p-2 w-full">Add</button> <!-- (click)="addToOrder.emit(product)" -->
        </div>
      </div>
    }
  }
</div>

<h2 class="text-3xl my-5">Prodotti esterni</h2>
<div class="flex flex-wrap gap-5 text-center">
  @for ( product of products; track $index ) {
    @if ( product.external ) {
      <div class="w-32 bg-gray-200 hover:bg-gray-100 flex flex-col justify-between">
        <img [src]="product.img" [alt]="product.name">
        <div class="w-full p-2 gap-2 flex flex-col">
          <h2>{{ product.name }}</h2>
          <input class="w-full" name="weight" type="text" id="product.name'-input'" />
          <button type="button" class="bg-green-500 hover:bg-green-400 text-white p-2 w-full">Add</button> <!-- (click)="addToOrder.emit(product)" -->
        </div>
      </div>
    }
  }
</div>
