<nav class="fixed top-0 left-0 w-full bg-green-500 z-50 text-xl">
  <div class="max-w-[1680px] m-auto flex p-5 gap-10 justify-between items-center">
    <a class="flex-shrink-0" href="/">Selvetto</a>

    <ul class="flex flex-1 gap-10 h-full">
      <li><a class="hover:underline underline-offset-4" routerLink="cash-register" routerLinkActive="underline text-white">Cassa</a></li>
      <li><a class="hover:underline underline-offset-4" routerLink="history" routerLinkActive="underline text-white">Storico</a></li>
      <li><a class="hover:underline underline-offset-4" routerLink="products" routerLinkActive="underline text-white">Listino prodotti</a></li>
    </ul>

    <div class="flex-shrink-0">
      {{ fullDate | translateDate: 'tdpipe-not-defined' }}
    </div>
  </div>
</nav>
