<div class="py-16 px-5">
  <cash-register-toolbar
    (onViewChange)="toggleDisplayMode($event)"
    (onCategoryChange)="onCategoryChange($event)"/>

  <!-- LIST/GRID -->
  <div class="flex justify-between gap-5">
    <div class="w-4/5">
      @if ( filteredProducts.length === 0 ) {
        <div class="text-4xl text-gray-400 m-auto text-center mt-48">La categoria non contiene prodotti!</div>
      }
      @else {
        <form (ngSubmit)="onSubmit()">
          @for ( product of filteredProducts; track $index ) {
            @if (layoutMode() === "table") {
              <cash-register-item
                [product]="product"
                (addToOrder)="onAddToOrder($event)" />
            }
            @else {
              <!-- Place for card -->
               <!-- JUST use the item component and add a different view THERE
                otherwise all the logic has to be duplicated (example addToOrder) -->
            }
          }
        </form>
      }
    </div>

    <!-- RIEPILOGO -->
    <div class="text-end text-base sticky top-20 self-start w-1/2">
      <dynamic-table [headers]="['Nome', 'Sconto', 'Quantità', 'Subtotale', 'Iva', '']">
        @for( unit of currentUnits; track $index) {
          <tr class="hover:bg-green-100 p-1">
            <td class="p-2 border-b-2 border-b-green-300">{{ unit.name }}</td>
            <td class="p-2 border-b-2 border-b-green-300">{{ unit.discount ? unit.discount+'%' : '-' }}</td>
            <td class="p-2 border-b-2 border-b-green-300">{{ unit.quantity === -1 ? '-' : unit.quantity }}</td>
            <td class="p-2 border-b-2 border-b-green-300">{{ unit.subtotal | number: '1.2-2' }} €</td>
            <td class="p-2 border-b-2 border-b-green-300">{{ unit.tax ? unit.tax+'%' : '-' }}</td>
            <td class="p-2 border-b-2 border-b-green-300">
              <button (click)="removeFromOrder($index)"
                class="bg-red-500 border-[1px] text-white rounded-md border-white p-1">
                Rimuovi
              </button>
            </td>
          </tr>
        }
      </dynamic-table>
      <div class="text-2xl w-full p-5 border-b-2 border-x-2 border-green-200">Totale: {{ total() | number: '1.2-2' }} €</div>
      <button
        class="text-white rounded-md p-5 mt-5 w-full"
        [ngClass]="currentUnits.length === 0 ? 'bg-gray-300' : 'bg-green-500 hover:bg-green-400'"
        [disabled]="currentUnits.length === 0"
        (click)="onSubmit()">
        Salva
      </button>
    </div>
  </div>
</div>
