<div class="col">
  <h1>Products</h1>
</div>
<div class="col text-end">
  <div class="btn-group me-2">
    <button class="btn btn-primary border" role="button" data-bs-toggle="modal" data-bs-target="#createProduct">New</button>
    <button class="btn btn-primary border" role="button" data-bs-toggle="modal" data-bs-target="#uploadImage">Upload image</button>
  </div>

  <div class="btn-group me-2">
    <button class="btn btn-primary border" role="button" (click)="emitDisplayMode('list')">List</button>
    <button class="btn btn-primary border" role="button" (click)="emitDisplayMode('grid')">Grid</button>
  </div>

  <button class="btn btn-danger border" role="button" (click)="emitResetDatabase()">Reset</button>
</div>
