<div
  class="p-5 w-full flex flex-col hover:bg-green-200 bg-green-100 gap-5"
  [ngClass]="order.marked ? '!bg-red-300' : ''">

  <!-- id and updatedAt -->
  <div class="border-b-[1px] border-black flex justify-between items-baseline">
    <h2>Ordine: {{ order._id }}</h2>
    @if (order.updatedAt) {
      <h3>Aggiornato il: {{ order.updatedAt }}</h3>
    }
    <h4>Totale speso: {{ total() | number: '1.2-2' }} €</h4>
  </div>

  <div class="flex justify-between">
    <div class="flex">
      @if ( order.units.length === 0 ) {
        <div>No products in the order</div>
      }
      @else {
        <div class="flex flex-wrap gap-5">
          @for (u of order.units; track $index) {
            <ul
              class="flex flex-col min-w-[200px] border-[1px] p-5 border-green-300 hover:bg-green-100 duration-250 cursor-pointer"
              [ngClass]="{ 'bg-red-300 hover:bg-red-400 border-red-400': order.marked || u.marked }"
              (click)="onMarkUnit($index)">

              <li class="flex">
                <span class="min-w-[80px] font-semibold">ID:</span>
                <span>{{ u._id }}</span>
              </li>
              <li class="flex">
                <span class="min-w-[80px] font-semibold">Nome:</span>
                <span>{{ u.name }}</span>
              </li>
              <li class="flex">
                <span class="min-w-[80px] font-semibold">€/unità:</span>
                <span>{{ u.price | number: '1.2-2' }} €</span>
              </li>
              <li class="flex">
                <span class="min-w-[80px] font-semibold">Origine:</span>
                <span>{{ u.external ? 'Rivendita' : 'Interno' }}</span>
              </li>
              <li class="flex">
                <span class="min-w-[80px] font-semibold">Iva:</span>
                <span>{{ u.tax }} %</span>
              </li>
              <li class="flex">
                <span class="min-w-[80px] font-semibold">Peso:</span>
                <span>{{ u.weight | number: '1.2-2' }} Kg</span>
              </li>
              <li class="flex">
                <span class="min-w-[80px] font-semibold">Quantità:</span>
                <span>{{ u.quantity }}</span>
              </li>
              <li class="flex">
                <span class="min-w-[80px] font-semibold">Sconto:</span>
                <span>{{ u.discount }} %</span>
              </li>
              <li class="flex">
                <span class="min-w-[80px] font-semibold">Subtotale:</span>
                <span>{{ u.subtotal | number: '1.2-2' }} €</span>
              </li>
            </ul>
          }
        </div>
      }
    </div>

    <div class="flex flex-col gap-2 justify-end max-w-28">
      <button class="bg-yellow-500 w-full text-white p-2 rounded-md"
        (click)="onMarkOrder()">
        {{ !order.marked ? 'Segnala' : 'Approva'}}
      </button>
      <button class="bg-red-500 w-full text-white p-2 rounded-md"
        (click)="deleteOrder.emit(order._id)">
        Rimuovi
      </button>
    </div>
  </div>
</div>
