<div class="py-16 px-16">
  <!-- TOOLBAR -->
  <div class="flex justify-between items-center py-5">
    <h1 class="text-4xl">Storico ordini</h1>
  </div>

  @for ( order of history_2; track $index ) {
    <dynamic-table title="Storico ordini" [headers]="['Index', 'Cassa', 'Prodotti', 'Totale']">
      <!-- @for ( item of order | keyvalue; track $index ) {
        <tr class="hover:bg-gray-100">
          <th>{{ $index }}</th>
          <td class="p-2 border-b-2 border-b-gray-300">{{ item }}</td>
          <td class="p-2 border-b-2 border-b-gray-300">{{ item }} €</td>
          <td class="p-2 border-b-2 border-b-gray-300">
            {{ 'ok' }}
          </td>
        </tr>
      } -->
    </dynamic-table>
  }
</div>


<!--
<div class="container py-5">
  <h1>Storico</h1>
  @if ( (history | keyvalue)?.length === 0 ) {
    <h2>Empty history</h2>
  }
  @else {
    @for ( day of history | keyvalue; track day.key ) {
      <h2 class="sticky-top bg-light p-3" >{{ day.key }}</h2>
      <table class="table responsive table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" class="col">#</th>
            <th scope="col" class="col-2">Cassa</th>
            <th scope="col" class="col-6">Products</th>
            <th scope="col" class="col-2">Total</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            @for ( order of day.value; track $index ) {
              <tr>
                <th scope="row">{{ $index }}</th>
                <td>{{ order.cassa ? 'Sì' : 'No' }}</td>
                <td>
                  @if ( order.products.length ) {
                    <ul>
                      @for ( product of order.products; track product.name ) {
                        <li>
                          <div class="row">
                            <div class="col">{{ product.name }}</div>
                            <div class="col">{{ product.price | number: '1.2-2' }} €</div>
                            <div class="col">x{{ product.quantity }}</div>
                          </div>
                        </li>
                      }
                    </ul>
                  } @else { 'Nessuno sfuso' }
                </td>
                <td>{{ order.total | number: '1.2-2' }} €</td>
              </tr>
            }
          </tbody>
        </table>
    }
  }
</div>
-->
