<div class="flex justify-between items-center py-5">
  <div class="flex gap-3">
    @for ( c of categories; track $index; let last = $last ) {
      @if (c.cat !== 'deleted') {
        <button
          [ngClass]="selectedCategory() === c.cat
            ? 'bg-white text-green-400'
            : 'bg-green-400 text-white border-0 hover:bg-white hover:text-green-400 duration-200'"
          class="rounded-full px-5 py-2 border-green-400 border-2"
          (click)="onClickCategory(c.cat)">
          {{ c.text }}
        </button>
      }
    }
  </div>
  <div class="flex gap-2">
    <button class="bg-green-500 text-white p-3 hover:bg-green-400 rounded-md" (click)="toggleDisplayMode('table')">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/></svg>
    </button>
    <button class="bg-green-500 text-white p-3 hover:bg-green-400 rounded-md" (click)="toggleDisplayMode('grid')">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16"><path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5zM1.5 1a.5.5 0 0 0-.5.5V5h4V1zM5 6H1v4h4zm1 4h4V6H6zm-1 1H1v3.5a.5.5 0 0 0 .5.5H5zm1 0v4h4v-4zm5 0v4h3.5a.5.5 0 0 0 .5-.5V11zm0-1h4V6h-4zm0-5h4V1.5a.5.5 0 0 0-.5-.5H11zm-1 0V1H6v4z"/></svg>
    </button>
  </div>
</div>
