<nav class="fixed top-0 left-0 w-full bg-yellow-400 z-50">
  <div class="max-w-[1680px] m-auto flex p-5 gap-10 justify-between items-center">
    <a class="flex-shrink-0" href="/">Selvetto</a>

    <ul class="flex flex-1 gap-5">
      <li><a class="p-5 hover:bg-yellow-100" routerLink="cash-register" routerLinkActive="bg-yellow-200">Cassa</a></li>
      <li><a class="p-5 hover:bg-yellow-100" routerLink="harvest" routerLinkActive="bg-yellow-200">Raccolto cassette</a></li>
      <li><a class="p-5 hover:bg-yellow-100" routerLink="products" routerLinkActive="bg-yellow-200">Listino prodotti</a></li>
      <li><a class="p-5 hover:bg-yellow-100" routerLink="history" routerLinkActive="bg-yellow-200">Storico</a></li>
      <li><a class="p-5 hover:bg-yellow-100" routerLink="report" routerLinkActive="bg-yellow-200">Report</a></li>
    </ul>

    <div class="flex-shrink-0">
      {{ fullDate | translateDate: 'tdpipe-not-defined' }}
    </div>
  </div>
</nav>
