<nav class="navbar navbar-expand-sm bg-yellow-600">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Selvetto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li><a routerLink="cash-register" class="nav-link" aria-current="page">Cassa</a></li>
        <li><a routerLink="harvest" class="nav-link">Raccolto cassette</a></li>
        <li><a routerLink="products" class="nav-link">Listino prodotti</a></li>
        <li><a routerLink="history" class="nav-link">Storico</a></li>
        <li><a routerLink="report" class="nav-link">Report</a></li>
      </ul>
    </div>
    <div>
      {{ fullDate | translateDate: 'tdpipe-not-defined' }}
    </div>
  </div>
</nav>
