<div class="flex gap-5 justify-between">
  <dynamic-table title="Prodotti interni" [headers]="['Index', 'Nome', 'Prezzo', 'Actions']">
    @for ( product of productList; track $index ) {
      @if ( !product.external ) {
        <tr class="hover:bg-gray-100">
          <th>{{ $index }}</th>
          <td class="p-2 border-b-2 border-b-gray-300">{{ product.name }}</td>
          <td class="p-2 border-b-2 border-b-gray-300">{{ product.price | number: '1.2-2' }} €</td>
          <td class="p-2 border-b-2 border-b-gray-300">
            <product-actions class="flex" [product]="product" />
          </td>
        </tr>
      }
    }
  </dynamic-table>
  <dynamic-table title="Prodotti esterni" [headers]="['Index', 'Nome', 'Prezzo', 'Actions']">
    @for ( product of productList; track $index ) {
      @if ( product.external ) {
        <tr class="hover:bg-gray-100">
          <th>{{ $index }}</th>
          <td class="p-2 border-b-2 border-b-gray-300">{{ product.name }}</td>
          <td class="p-2 border-b-2 border-b-gray-300">{{ product.price | number: '1.2-2' }} €</td>
          <td class="p-2 border-b-2 border-b-gray-300">
            <product-actions class="flex" [product]="product" />
          </td>
        </tr>
      }
    }
  </dynamic-table>
</div>
