<div class="py-16 px-5">
  <!-- <products-toolbar
    (onViewChange)="toggleLayoutMode($event)"
    (resetDatabase)="resetDatabase()"
    (onCategoryChange)="onCategoryChange($event)"/> -->
  <!-- <products-layout
    (delete)="deleteProduct($event)"
    (restore)="restoreProduct($event)"
    [products]="filteredProducts"
    [layout]="layoutMode()"
    [selectedCat]="selectedCat" /> -->
  <form [formGroup]="userForm" (ngSubmit)="onLogin()"
    class="flex flex-col items-center mt-24 p-10 border-2 align-middle max-w-72">

      <mat-form-field class="" appearance="outline">
        <mat-label class="font-bold text-lg">Email: </mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field class="" appearance="outline">
        <mat-label class="font-bold text-lg">Password: </mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <button>Login</button>

  </form>
</div>
