@if (productForm) {
  <div class="p-16">
    <h1 class="py-5 text-4xl">
      {{ product ? 'Modifica prodotto' : 'Creazione prodotto' }}
    </h1>
    <div class="flex justify-between gap-20">
      <form class="w-1/2 flex flex-col gap-16"
        [formGroup]="productForm"
        (ngSubmit)="save()"
        enctype="multipart/form-data">
        <div class="flex flex-col justify-between gap-5">

          <mat-form-field appearance="outline">
            <mat-label>Nome: </mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-hint>Niente nomi doppi fra i prodotti</mat-hint>
          </mat-form-field>

          <mat-radio-group formControlName="category">
            <mat-label>Categoria:</mat-label>
            <mat-radio-button value="vegetable">Ortaggi e frutta</mat-radio-button>
            <mat-radio-button value="animal">Uova, salutmi, latticini</mat-radio-button>
            <mat-radio-button value="baked">Prodotti da forno</mat-radio-button>
            <mat-radio-button value="other">Altro</mat-radio-button>
          </mat-radio-group>
          <!-- Remove -->
          <!-- <mat-checkbox matCheckbox formControlName="external">Prodotto di rivendita</mat-checkbox> -->

          <mat-radio-group formControlName="priceType">
            <mat-label>Prezzo:</mat-label>
            <mat-radio-button value="fixed">Fisso</mat-radio-button>
            <mat-radio-button value="dynamic">Dinamico</mat-radio-button>
          </mat-radio-group>
          <mat-form-field appearance="outline">
            <mat-label>Prezzo in €</mat-label>
            <input matInput
              [disableControl]="productForm.value.priceType === 'dynamic'"
              type="text"
              id="price"
              formControlName="price" />
            <mat-hint>Solo numeri, una virgola, max 2 decimali</mat-hint>
          </mat-form-field>

          <mat-radio-group formControlName="measureType">
            <mat-label>Unità di misura:</mat-label>
            <mat-radio-button value="0">Kg</mat-radio-button>
            <mat-radio-button value="1">Unità</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group formControlName="weightType">
            <mat-label>{{ productForm.value.measureType === 'kg' ? 'Peso:' : 'Unità:' }}</mat-label>
            <mat-radio-button value="fixed">Fisso</mat-radio-button>
            <mat-radio-button value="dynamic">Dinamico</mat-radio-button>
          </mat-radio-group>
          <mat-form-field appearance="outline">
            <mat-label>{{ productForm.value.measureType === 'kg' ? 'Peso in kg:' : 'Numero di unità:' }}</mat-label>
            <input matInput
              [disableControl]="productForm.value.weightType === 'fixed'"
              type="text"
              id="weight"
              formControlName="weight" />
            <mat-hint>Solo numeri, una virgola, max 2 decimali</mat-hint>
          </mat-form-field>

          <!-- Check if required, change validation -->
          <mat-form-field appearance="outline">
            <mat-label>Iva</mat-label>
            <input matInput
              type="text"
              id="tax"
              formControlName="tax" />
            <!-- <mat-hint>Solo numeri, una virgola, max 2 decimali</mat-hint> -->
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Immagine</mat-label>
            <ngx-mat-file-input
              formControlName="imageFile"
              accept=".png, .jpg, .jpeg" >
            </ngx-mat-file-input>
          </mat-form-field>

          <mat-checkbox matCheckbox formControlName="disabled">Disabilita prodotto</mat-checkbox>

        </div>
        <div class="flex gap-5">
          <button
            type="submit"
            class="text-white p-2 w-full"
            [ngClass]="(!productForm.dirty) ? 'bg-green-300' : 'bg-green-500 hover:hover:bg-green-400'"
            [disabled]="!(productForm.dirty)">Salva le modifiche
          </button>
          <button type="button" class="bg-red-500 hover:hover:bg-red-400 text-white p-2 w-full" (click)="cancel()">Annulla</button>
        </div>
      </form>
      @if (product) {
        <div class="w-1/2 flex justify-center">
          <img class="h-96 border-[1px] border-gray-400 rounded" [src]="product.img ? uploadsPath+product.img : 'assets/img-not-found.png'" alt="">
        </div>
      }
    </div>
  </div>
}
