@if ( layout === 'table' ) {
  <div class="flex gap-5 w-full">
    <div class="w-1/2">
      <div class="flex flex-col">
        <div class="text-xl">Prodotti interni attivi</div>
        @for ( product of products; track $index ) {
          @if (!product.external && !product.disabled) {
            <product-item [product]="product" (delete)="delete.emit($event)" />
          }
        }
        <div class="text-xl">Prodotti interni disattivati</div>
        @for ( product of products; track $index ) {
          @if (!product.external && product.disabled) {
            <product-item [product]="product" (delete)="delete.emit($event)" />
          }
        }
      </div>
    </div>

    <div class="w-1/2">
      <div class="text-xl">Rivendita attivi</div>
      @for ( product of products; track $index ) {
        @if (product.external && !product.disabled) {
          <product-item [product]="product" (delete)="delete.emit($event)" />
        }
      }
      <div class="text-xl">Rivendita disattivati</div>
      @for ( product of products; track $index ) {
        @if (product.external && !product.disabled) {
          <product-item [product]="product" (delete)="delete.emit($event)" />
        }
      }
    </div>
  </div>
  <!--

  <div class="flex gap-5 justify-between">
    <dynamic-table title="Prodotti interni" [headers]="['Image', 'Nome', 'Prezzo', 'Actions']">
      @for ( product of products; track $index ) {
        @if ( !product.external ) {
          <tr class="hover:bg-yellow-100">
            <td [ngClass]="{ 'opacity-50': product.disabled }">
              <img class="cursor-pointer w-16" [src]="product.img ? uploadsPath+product.img : 'assets/img-not-found.png'" [alt]="product.name">
            </td>
            <td [ngClass]="{ 'opacity-50': product.disabled }" class="p-2 border-b-2 border-yellow-300">{{ product.name }}</td>
            <td [ngClass]="{ 'opacity-50': product.disabled }" class="p-2 border-b-2 border-yellow-300">{{ product.price | number: '1.2-2' }} €</td>
            <td class="p-2 border-b-2 border-yellow-300">
              <product-actions (delete)="delete.emit(product._id)" class="flex" [product]="product" />
            </td>
          </tr>
        }
      }
    </dynamic-table>
    <dynamic-table title="Prodotti esterni" [headers]="['Image', 'Nome', 'Prezzo', 'Actions']">
      @for ( product of products; track $index ) {
        @if ( product.external ) {
          <tr class="hover:bg-yellow-100">
            <td [ngClass]="{ 'opacity-50': product.disabled }">
              <img class="cursor-pointer w-16" [src]="product.img ? uploadsPath+product.img : 'assets/img-not-found.png'" [alt]="product.name">
            </td>
            <td [ngClass]="{ 'opacity-50': product.disabled }" class="p-2 border-b-2 border-yellow-300">{{ product.name }}</td>
            <td [ngClass]="{ 'opacity-50': product.disabled }" class="p-2 border-b-2 border-yellow-300">{{ product.price | number: '1.2-2' }} €</td>
            <td class="p-2 border-b-2 border-yellow-300">
              <product-actions (delete)="delete.emit(product._id)" class="flex" [product]="product" />
            </td>
          </tr>
        }
      }
    </dynamic-table>
  </div>
  -->
}
@else {
  <h2 class="text-3xl mb-5">Prodotti interni</h2>
  <div class="flex flex-wrap justify-start gap-5 text-center mb-5">
    @for ( product of products; track $index ) {
      @if ( !product.external ) {
        <div class="shadow-md shadow-yellow-600 bg-yellow-200 hover:bg-yellow-100 flex flex-col justify-between">
          <img [ngClass]="{ 'opacity-50': product.disabled }" class="max-w-56 object-contain" [src]="product.img ? uploadsPath+product.img : 'assets/img-not-found.png'" [alt]="product.name">
          <div class="w-full">
            <div [ngClass]="{ 'opacity-50': product.disabled }" class="my-5 flex flex-col justify-start">
              <span><b>Nome: </b>{{ product.name }}</span>
              <span><b>Prezzo: </b>{{ product.price | number: '1.2-2' }} €</span>
            </div>
            <product-actions (delete)="delete.emit(product._id)" class="flex flex-grow" [product]="product" />
          </div>
        </div>
      }
    }
  </div>

  <h2 class="text-3xl my-5">Prodotti esterni</h2>
  <div class="flex flex-wrap justify-start gap-5 text-center">
    @for ( product of products; track $index ) {
      @if ( product.external ) {
        <div class="shadow-md shadow-yellow-600 bg-yellow-200 hover:bg-yellow-100 flex flex-col justify-between">
          <img [ngClass]="{ 'opacity-50': product.disabled }" class="max-w-56 object-contain" [src]="product.img ? uploadsPath+product.img : 'assets/img-not-found.png'" [alt]="product.name">
          <div class="w-full">
            <div [ngClass]="{ 'opacity-50': product.disabled }" class="my-5 flex flex-col justify-start">
              <span><b>Nome: </b>{{ product.name }}</span>
              <span><b>Prezzo: </b>{{ product.price | number: '1.2-2' }} €</span>
            </div>
            <product-actions (delete)="delete.emit(product._id)" class="flex flex-grow" [product]="product" />
          </div>
        </div>
      }
    }
  </div>
}
