<div class="container py-5">
  <toolbar (toggleDisplayModeChild)="toggleDisplayModeParent($event)" (resetDatabase)="resetDatabase()" />

  <!-- MODAL CREATE PRODUCT -->
  <div class="modal fade" id="createProduct" tabindex="-1" aria-labelledby="createProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createProductLabel">Create new product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <!-- FORM -->
          <form [formGroup]="postForm">
            <div class="form-floating mb-3">
              <input formControlName="name" type="text" class="form-control" id="name"> <!-- required> -->
              <label for="name">Nome</label>
            </div>
            <div class="form-floating mb-3">
              <input formControlName="price" type="text" class="form-control" id="price"> <!-- required> -->
              <label for="price">Prezzo</label>
            </div>
            <div class="form-check">
              <input formControlName="external" class="form-check-input" type="checkbox" value="" id="external">
              <label class="form-check-label" for="external">Prodotto esterno</label>
            </div>
          </form>
          <div class="mt-5 modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button (click)="createProduct()" type="button" class="btn btn-primary border" data-bs-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- MODAL UPDATE IMAGE PRODUCT -->
    <div class="modal fade" id="uploadImage" tabindex="-1" aria-labelledby="uploadImageLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="uploadImageLabel">Upload new image</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- FORM -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary border" data-bs-dismiss="modal">Upload</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <!-- PRODOTTI INTERNI -->
    <div class="col">
      <h2>Prodotti interni</h2>
      @if ( displayMode === 'list' ) {
        <!-- <div calss="table-responsive"></div> -->
        <table class="table table-responsive table-hover align-middle ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col" class="w-auto">Actions</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            @for ( product of productList; track $index ) {
              @if ( isEditMode() === $index ) {
                <tr>
                  <th>{{ $index }}</th>
                  <td>
                    <input type="text" [(ngModel)]="product.name"/>
                  </td>
                  <td>
                    <input type="text" [(ngModel)]="product.price"/>
                  </td>
                  <td class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-success" (click)="onSave($index)">Save</button>
                    <button type="button" class="btn btn-dark" (click)="onCancel($index)">Cancel</button>
                  </td>
                </tr>
              }
              @else {
                @if ( !product.external ) {
                  <tr>
                    <th scope="row">{{ $index }}</th>
                    <td [class.opacity-25]="product.disabled">{{ product.name }}</td>
                    <td [class.opacity-25]="product.disabled">{{ product.price }}</td>
                    <td class="p-0">
                      <div class="btn-group w-100" role="group" aria-label="Basic example">
                        <button type="button" [class.opacity-25]="product.disabled" class="rounded-0 btn btn-warning" (click)="onEdit($index)">Update</button>
                        <button type="button" [class.opacity-25]="product.disabled" class="rounded-0 btn btn-danger" (click)="deleteProduct($index)">Delete</button>
                        <button type="button" class="rounded-0 btn btn-info" (click)="disableProduct($index)">{{ product.disabled ? 'Enable' : 'Disable' }}</button>
                      </div>
                    </td>
                  </tr>
                }
              }
            }
          </tbody>
        </table>
      }
    </div>

    <!-- PRODOTTI ESTERNI -->
    <div class="col">
      <h2>Prodotti esterni</h2>
      @if ( displayMode === 'list' ) {
        <table class="table table-responsive table-hover align-middle ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            @for ( product of productList; track $index ) {
              @if ( product.external ) {
                <tr>
                  <th scope="row">{{ $index }}</th>
                  <td [class.opacity-25]="product.disabled">{{ product.name }}</td>
                  <td [class.opacity-25]="product.disabled">{{ product.price }}</td>
                  <td class="p-0">
                    <div class="btn-group w-100" role="group" aria-label="Basic example">
                      <button type="button" [class.opacity-25]="product.disabled" class="rounded-0 btn btn-warning" (click)="onEdit($index)">Update</button>
                      <button type="button" [class.opacity-25]="product.disabled" class="rounded-0 btn btn-danger" (click)="deleteProduct($index)">Delete</button>
                      <button type="button" class="rounded-0 btn btn-info" (click)="disableProduct($index)">{{ product.disabled ? 'Enable' : 'Disable' }}</button>
                    </div>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      }
    </div>
  </div>
</div>
