<h2>Product list</h2>

@if ( displayPostForm() ) {
  <app-create-product></app-create-product>
  <button (click)="displayPostForm.set(false)">Cancel</button>
}
@else {
  <button (click)="postProduct()">Create new product</button>
}

<ul>
  @for ( product of productList; track $index ) {
    @if ( displayUpdateForm() === $index ) {
      <li>Modify form for: {{ product.name }} </li>
      <button (click)="displayUpdateForm.set(-1)">Cancel</button>
    }
    @else {
      <li>{{ product.name }} - {{ product.price }}</li>
      <button (click)="updateProduct($index)">Update</button>
      <button (click)="deleteProduct($index)">Delete</button>
    }
  }
</ul>
