@import '../../custom.scss';

.product-index {
  background-color: $green-l;
}

.product-name {
  background-color: $green-ll;
}

.product-row,.product-col {
  color: $dark;
  background-color: $green-lll;
}

.product-row:hover,.product-col:hover {
  color: $white;
  background-color: $green-m;
  transition: 0.1s linear;
}
