<div class="py-16 px-16">
  <cash-register-toolbar (onSelectionChange)="toggleDisplayMode($event)" />

  <div class="flex justify-between gap-5">
    <div class="w-2/3">
      <form (ngSubmit)="onSubmit()">
        <cash-register-layout
          [layout]="layoutMode()"
          [products]="products"
          (addToOrder)="onAddToOrder($event)" />
      </form>
    </div>

    <!-- RIEPILOGO -->
    <div class="max-h-[600px] overflow-auto text-end bg-yellow-200 sticky top-20 self-start p-5">
      <dynamic-table title="Riepilogo" [headers]="['Nome', 'Sconto', 'Subtotal', 'Iva']">
        @for( p of currentOrder; track $index) {
          <tr class="hover:bg-yellow-100">
            <td class="p-2 border-b-2 border-b-yellow-300">{{ p.name }}</td>
            <td class="p-2 border-b-2 border-b-yellow-300">{{ p.discount }}</td>
            <td class="p-2 border-b-2 border-b-yellow-300">{{ p.subtotal }}</td>
            <td class="p-2 border-b-2 border-b-yellow-300">{{ p.tax }}</td>
          </tr>
        }
      </dynamic-table>

      <!-- <h2 class="text-3xl p-3 mb-3 border-b-2 border-gray-400 border-dashed">Riepilogo</h2>
      @if ( currentOrder.length === 0 ) {
        <h3 class="text-3xl p-3 py-5">Ordine vuoto</h3>
      }
      @for ( product of currentOrder; track $index ) {
        <div class="flex flex-col">
          <div class="flex justify-between items-center hover:bg-yellow-100 px-3 py-2">
            <div class="min-w-32 text-start">{{ product.name }}</div>
            <div>{{ product.price }} €</div>
            <div>{{ product.weight }} Kg</div>
            <button type="button" class="bg-red-600 text-white p-2" (click)="removeFromOrder($index)">Remove</button>
          </div>
        </div>
      } -->
    </div>
  </div>
</div>
