<div class="py-16 px-5">
  <cash-register-toolbar (onSelectionChange)="toggleDisplayMode($event)" />

  <div class="flex justify-between gap-5">
    <div class="">
      <form (ngSubmit)="onSubmit()">
        <cash-register-layout
          [layout]="layoutMode()"
          [products]="products"
          (addToOrder)="onAddToOrder($event)" />
      </form>
    </div>

    <!-- RIEPILOGO -->
    <div class="text-end bg-yellow-200 sticky top-20 self-start p-5">
      <dynamic-table title="Riepilogo" [headers]="['Nome', 'Sconto', 'Quantità', 'Subtotale', 'Iva', '']">
        @for( unit of currentOrder; track $index) {
          <tr class="hover:bg-yellow-100">
            <td class="p-2 border-b-2 border-b-yellow-300">{{ unit.name }}</td>
            <td class="p-2 border-b-2 border-b-yellow-300">{{ unit.discount ? unit.discount+'%' : '-' }}</td>
            <td class="p-2 border-b-2 border-b-yellow-300">{{ unit.quantity === -1 ? '-' : unit.quantity }}</td>
            <td class="p-2 border-b-2 border-b-yellow-300">{{ unit.subtotal+'€' }}</td>
            <td class="p-2 border-b-2 border-b-yellow-300">{{ unit.tax+'%' }}</td>
            <td class="p-2 border-b-2 border-b-yellow-300">
              <button (click)="removeFromOrder($index)"
                class="bg-red-500 border-[1px] text-white rounded-md border-white p-2">Rimuovi</button>
            </td>
          </tr>
        }
      </dynamic-table>
      <h3>Total: {{ total() }}</h3>
    </div>
  </div>
</div>
