<div class="py-16 px-16"> <!-- container ??? -->
  <cash-register-toolbar
    (onSelectionChange)="toggleDisplayMode($event)">
  </cash-register-toolbar>

  <form (ngSubmit)="onSubmit()">
    <div class="flex">
      <!-- PRODOTTI INTERNI -->
      <div class="border-2 border-red-500">
        <dynamic-table title="Prodotti interni" [headers]="['Nome', 'Prezzo', 'Kg', 'Action']">
          @for ( product of productList; track $index ) {
            @if ( !product.external ) {
              <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price | number: '1.2-2' }} €</td>
                <td>
                  <input [(ngModel)]="orderForm[$index].weight" name="weight"
                    type="text" class="form-control" id="product.name'-input'">
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="addToOrder($index)">Add</button>
                </td>
              </tr>
            }
          }
        </dynamic-table>
      </div>

      <!-- PRODOTTI ESTERNI -->
      <div class="border-2 border-red-500">
        <h2>Rivendita</h2>
        <table class="table-auto">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>€</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for ( product of productList; track $index ) {
              @if ( product.external ) {
                <tr>
                  <th>{{ $index }}</th>
                  <td>{{ product.name }}</td>
                  <td>
                    <input [(ngModel)]="orderForm[$index].price" name="price"
                      type="text" class="form-control" id="product.name'-input'">
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="addToOrder($index)">Add</button>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>

      <!-- RIEPILOGO -->
      <div class="border-2 border-red-500">
        <h2>Riepilogo</h2>
        @if ( currentOrder.length === 0 ) {
          <h3>Ordine vuoto</h3>
        }
        @for ( product of currentOrder; track $index ) {
          <div>
            <div>{{ product.name }}</div>
            <!-- @if ( product.weight === -1 ) {
              <div class="col">{{ product.price | number: '1.2-2' }} €</div>
            }
            @else {
              <div class="col">{{ product.weight | number: '1.2-2' }} Kg</div>
            }
            <div class="col">{{ (product.price * product.weight) | number: '1.2-2' }} €</div> -->
            <button type="button" class="col bg-danger" (click)="removeFromOrder($index)"> x </button>
          </div>
        }
      </div>
    </div>
  </form>
</div>
