<div class="grid grid-cols-6 gap-5 items-center hover:bg-yellow-100 border-2 border-yellow-100">
  <div class="border-2">
    <img class="w-16" [src]="product?.img ? uploadsPath+product?.img : 'assets/img-not-found.png'" alt="product.name">
  </div>

  <div>{{ product.name }}</div>

  <div class="border-2">
    @if (product.price) {
      {{ product.price | number: '1.2-2' }} €
    }
    @else {
      <input [formControl]="price" class="w-full" name="weight" type="text" id="product.name'-input'">
    }
  </div>

  <div class="border-2">
    @if (product.weight) {
      {{ product.weight | number: '1.2-2' }} Kg
    }
    @else {
      <input [formControl]="weight" class="w-full" name="weight" type="text" id="product.name'-input'">
    }
  </div>

  <div class="border-2 flex gap-2 items-center">
    <label for="discount">Sconto</label>
    <select class="p-2 w-full rounded"
      id="discount"
      [formControl]="discount"
      [value]="discount">
      <option value="0">0</option>
      <option value="10">10 %</option>
      <option value="20">20 %</option>
      <option value="30">30 %</option>
    </select>
  </div>

  <div class="border-2">
    <button type="button"
      class="bg-green-500 hover:hover:bg-green-400 text-white p-2 w-full"
      (click)="onAddToOrder()">
      Add
    </button>
  </div>
</div>

<!-- <tr class="hover:bg-yellow-100">
  <td>
    <img class="w-16" [src]="product?.img ? uploadsPath+product?.img : 'assets/img-not-found.png'" alt="product.name">
  </td>
  <td>{{ product.name }}</td>

  <td>
    @if (product.price) {
      {{ product.price | number: '1.2-2' }} €
    }
    @else {
      <input  class="w-full" name="weight" type="text" id="product.name'-input'">
    }
  </td>

  <td>
    @if (product.weight) {
      {{ product.weight | number: '1.2-2' }} €
    }
    @else {
      <input  class="w-full" name="weight" type="text" id="product.name'-input'">
    }
  </td>

  <td>
    <mat-form-field>
      <mat-label>Sconto</mat-label>
      <mat-select>
        <mat-option value="0">0</mat-option>
        <mat-option value="4">4 %</mat-option>
        <mat-option value="10">10 %</mat-option>
        <mat-option value="20">20 %</mat-option>
      </mat-select>
    </mat-form-field>
  </td>

  <td>
    <button type="button"
      class="bg-green-500 hover:hover:bg-green-400 text-white p-2 w-full"
      (click)="onAddToOrder()">
      Add
    </button>
  </td>
</tr> -->
