<div class="grid grid-cols-6 gap-2 items-center text-lg hover:bg-yellow-200 bg-yellow-100 mb-2">
  <div class="">
    <img class="w-16 h-16" [src]="product?.img ? uploadsPath+product?.img : 'assets/img-not-found.png'" alt="product.name">
  </div>

  <div class="h-full flex items-center">{{ product.name }}</div>

  <div class="h-full flex items-center border-2">
    @if (product.priceType === 0) {
      {{ product.price | number: '1.2-2' }} €
    }
    @else {
      <input class="w-full"
        name="price"
        type="text"
        id="product.name'-input'"
        [formControl]="price"
        placeholder="€">
    }
  </div>

  <div class="h-full flex items-center border-2">
    @if (product.weightType === 0) {
      {{ product.weight | number: '1.2-2' }} Kg
    }
    @else {
      <input class="w-full"
        name="weight"
        type="text"
        id="product.name'-input'"
        [formControl]="weight"
        placeholder="Kg">
    }
  </div>

  <div class="h-full flex items-center gap-3 ">
    <label for="discount">Sconto</label>
    <select class="p-2 w-full rounded bg-white"
      id="discount"
      [formControl]="discount"
      [value]="discount">
        <option value="0">0</option>
        <option value="10">10 %</option>
        <option value="20">20 %</option>
        <option value="30">30 %</option>
    </select>
  </div>

  <div class="h-full flex items-center ">
    <button
      [disabled]="addIsDisabled()"
      type="button"
      class="text-white p-2 w-full h-full"
      [ngClass]="addIsDisabled() ? 'bg-green-300 hover:bg-green-300' : 'bg-green-500 hover:bg-green-400'"
      (click)="onAddToOrder()">
      Aggiungi
    </button>
  </div>
</div>

<!-- <tr class="hover:bg-yellow-100">
  <td>
    <img class="w-16" [src]="product?.img ? uploadsPath+product?.img : 'assets/img-not-found.png'" alt="product.name">
  </td>
  <td>{{ product.name }}</td>

  <td>
    @if (product.price) {
      {{ product.price | number: '1.2-2' }} €
    }
    @else {
      <input  class="w-full" name="weight" type="text" id="product.name'-input'">
    }
  </td>

  <td>
    @if (product.weight) {
      {{ product.weight | number: '1.2-2' }} €
    }
    @else {
      <input  class="w-full" name="weight" type="text" id="product.name'-input'">
    }
  </td>

  <td>
    <mat-form-field>
      <mat-label>Sconto</mat-label>
      <mat-select>
        <mat-option value="0">0</mat-option>
        <mat-option value="4">4 %</mat-option>
        <mat-option value="10">10 %</mat-option>
        <mat-option value="20">20 %</mat-option>
      </mat-select>
    </mat-form-field>
  </td>

  <td>
    <button type="button"
      class="bg-green-500 hover:hover:bg-green-400 text-white p-2 w-full"
      (click)="onAddToOrder()">
      Add
    </button>
  </td>
</tr> -->
