<div class="flex justify-between items-center py-5">
  <h1 class="text-4xl">Listino prodotti</h1>
  <div class="flex gap-5">
    <button [routerLink]="['/create-product']"
      class="bg-yellow-500 hover:bg-yellow-400 text-white rounded-md p-5">
        Crea nuovo
    </button>
    <button class="bg-yellow-500 hover:bg-yellow-400 text-white rounded-md p-5" role="button" (click)="onClickReset()">Reset</button>
    <div class="bg-yellow-500 text-white rounded-md flex">
      <button class="hover:bg-yellow-400 p-5 rounded-md" (click)="onClickView('table')">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/></svg>
      </button>
    </div>
  </div>
</div>
