<div class="grid grid-cols-5 gap-2 items-center text-lg hover:bg-yellow-200 bg-yellow-100 mb-2"
  [ngClass]="{ 'opacity-50': product.disabled }">
  <div class="border-2">
    <img class="w-16" [src]="product.img ? uploadsPath+product.img : 'assets/img-not-found.png'" alt="product.name">
  </div>

  <div class="h-full flex items-center">{{ product.name }}</div>

  <div class="h-full flex items-center border-2">
    price
    <!-- @if (product.priceType === 0) {
      {{ product.price | number: '1.2-2' }} €
    }
    @else {
      <input class="w-full"
        name="price"
        type="text"
        id="product.name'-input'"
        [formControl]="price"
        placeholder="€">
    } -->
  </div>

  <div class="h-full flex items-center border-2">
    weight
    <!-- @if (product.weightType === 0) {
      {{ product.weight | number: '1.2-2' }} Kg
    }
    @else {
      <input class="w-full"
        name="weight"
        type="text"
        id="product.name'-input'"
        [formControl]="weight"
        placeholder="Kg">
    } -->
  </div>

  <div class="h-full">
    <product-actions [product]="product" (delete)="delete.emit(product._id)" class="flex h-full w-full" />
    <!-- <button
      [disabled]="addIsDisabled()"
      type="button"
      class="text-white p-2 w-full h-full"
      [ngClass]="addIsDisabled() ? 'bg-gray-300' : 'bg-green-500 hover:bg-green-400'"
      (click)="onAddToOrder()">
      Aggiungi
    </button> -->
  </div>
</div>
